/* 
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2018, 6:34:55 PM
    Author     : Lateefah, Bash
*/

/* General Styles */

@font-face {
    font-family: 'Caveat Brush', sans-serif;
    /*src: url('../fonts/Cabin-Italic.ttf') format("truetype");*/
}

body {
    background-color: #ffffff;
    font-family: Roboto;
}

.body-wrap {
    padding: 10px 0px;
}

.background-design{
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-image: url(../images/light\ background.png);
    background-position: top;
    background-size: contain;
    opacity: 0.2;
}

.page-header {
    font-size: 16px;
    z-index: 78;
    position: relative;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
 }

#loading-fa{
    font-size: 30px;
    z-index: 34354;
}

.form-pattern{
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding-top: 10px;
}

.custom-table-rows{
    cursor: pointer;
}

.error{
    color: red;
    font-size: 12px;
}

#spin1, #spin2{
    margin-left: 10px;
}

#check, #check1, #check2, #check3{
    color: green;
    font-size: 20px;
}

.logo-brand{
    position: absolute;
    left: 8vw;
    bottom: -1vh;
}
.animated{
    animation-delay: 0.8s;
}

.right-arrow{
    position: relative;
    left: 10px;
}

.left-arrow{
    position: relative;
    right: 10px;
}

.blue-btn {
    background-color: #2980b9;
    color: #FFF;
}

.red-btn {
    background-color:  #be1522;
    color: #FFF !important;
}

.white-btn {
    background-color:  #FFF;
    color: #be1522;
}

.white-btn:hover{
    border-color: #be1522;
}

.certificateExpiryForm{
    height: 70vh;
}

.red-btn:hover{
    background-color:  #ffffff;
    color: #be1522 !important;
    border-color: #be1522;
}

.grey-btn {
    background-color: #b3b3b3;
    color: #FFF;
}

.custom-input{
    line-height: 2;
}

.user-btn{
    position: absolute;
    right: -230px;
}

.user-btn-normal{
    position: absolute;    
    left: 200px;
}

.user-left-btn{
    position: absolute;
    left: -230px;
}

.custom-btn{
    display: block;
    width: 20%;
    line-height: 2;
    margin: 0 1rem;
}

.form-control:focus {
    border-color: #6aa509;
    box-shadow: 0;
  }

/* Home Page Styles */

.home-bottom-top>span.animated{
    animation-delay: 4s;
}

.custom-nav{
    height: 100px;
}

.masthead{
    background: url('../images/ta-home-pic.jpg');
    height: 100vh;
    max-height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.masthead-rev-range{
        background: url('../images/ta-home.jpg');
        height: 50vh;
        max-height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

.option-box-word-mini p{
    font-family: 'Caveat Brush', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.app-title {
    font-family: 'Caveat Brush', ans-serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0px;
    padding-right: 150px;
}

.home-bottom{
    margin-top: -80px;
}

.about-us-social{
    margin-top: 80px;
}

.header-text a{
    color: #B3000C;
}

.header-text-black{
    color: #212020;
}

.header-text{
    color: #B3000C;
}
.home-bottom-top{
    width: 170px;
}

.home-bottom-bottom p a{
    color: #5A5A5A;
    font-size: 12px;

}

.small{
    background: #ffffff;
}

.bottom-link-icons{
    width: 10%;
    height: 5%;
}

.bottom-word{
    color: #6aa509;
}

.option-box{
    background: #B3000C;
    height: 215px;
    width: 30px;
    margin: 20px;
    border-radius: 5px;
    transition: transform 0.8s;
}

.option-box:hover{
    transform: scale(1.1);
}

.option-image {
    width: 35%;
    position: absolute;
    top: -70px;
}

.option-box-word{
    color: #ffffff;
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}

.options-row{
    position: relative;
    bottom: 100px;
    cursor: pointer;
}

.four-easy-steps-modal img{
    height: 100%;
    width: 100%;
}

/* Survey Page Styles */

.survey-header > p{
    font-size: 35px;
}

.survey-body{
    padding: 0 100px;
}

.survey-body > div{
    cursor: pointer;
}

.survey-body-content{
    background: #6aa509;
    height: 170px;
    max-width: 250px;
    border-radius: 5px;
    color: #FFF;
    transition: transform 0.8s;
}

.survey-body-content-clicked{
    background: #FFF;
    border: 1px solid #6aa509;
    height: 170px;
    max-width: 250px;
    border-radius: 5px;
    color: #212020;
    transition: transform 0.8s;
    text-align: center;
}

.survey-body-content:hover{
    transform: scale(1.1);
}

.survey-body-content > p{
    color: #FFF;
    text-align: center;
}

/* Company registration Page */

.custom-modal-box{
    height: 130px;
    background: #6aa509;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}

.custom-modal-box:hover{
    background: #4CAF50;
    cursor: pointer;
}

.rev-range-box{
    height: 200px;
    border-radius: 5px;
}

.bottom-rev-range-box{
    background: #E5E5E5;
    height: 60%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #6aa509;
}

.rev-range-hr{
    height: 2px;
    background: #FFF;
    margin: 0;
    width: 20%;
}

.top-rev-range-box{
    color: #ffffff;
    height: 40%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rev-range-button{
    font-size: 0.8rem;
    line-height: 1;
    border-radius: 30px;
}

/* Toggle Switch */
.switch-label-top{
    font-size: 14px;
    position: absolute;
    top: 0;
}

.w-15{
    width: 15%;
}

.w-85{
    width: 85%;
}
.switch-input {
    display: none;
  }
  .switch-label {
    position: relative;
    display: inline-block;
    min-width: 50px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 0px;
    padding: 0px 0 0px 0px;
  }
  .switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
  }
  .switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  }
  .switch-label .toggle--on {
    display: none;
  }
  .switch-label .toggle--off {
    display: inline-block;
  }
  .switch-input:checked + .switch-label:before {
    background-color: #A5D6A7;
  }
  .switch-input:checked + .switch-label:after {
    background-color: #4CAF50;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
  }
  .switch-input:checked + .switch-label .toggle--on {
    display: inline-block;
  }
  .switch-input:checked + .switch-label .toggle--off {
    display: none;
  }
  

  /* Tax Page */

  .tax-body-wrap{
    padding: 50px 250px;
  }

  .tax-subhead{
    color: #fff;
    background: #6aa509;
  }

  .tax-head{
    font-family: 'Caveat Brush', sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
  }

  /* tax services page */

  .grey-page-header{
      color: #5A5A5A;
  }

  .tax-service-body-content{
    background: #6aa509;
    height: 200px;
    border-radius: 5px;
    color: #FFF;
    transition: transform 0.8s;
  }

  .tax-service-body-content:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* Payment summary Page */

.summary-box{
    height: 170px;
    max-width: 250px;
    border-radius: 5px;
    transition: transform 0.8s;
}

.summary-details{
    display: flex;
    justify-content: space-between;
    width: 306px;
    font-size: 20px;
}

.summary-box:hover{
    transform: scale(1.1);
    background: rgb(219, 241, 208);
}

.summary-amount{
    color: #6aa509;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    width: 500px;
}

.summary-section{
    background: #fff;
}

.lastVatSection{
    width: 200px;
}
.plan-list{
    font-size: 18px;
}

#lastVatFiledDate{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Other Pages STyles */

.services-wrap div {
    padding-bottom: 20px;
}
.services-wrap div img {
    width: 300px;
    height: 200px
}
.service-title {
    color: #3a3a3a;
    padding-top: 10px;
}
.service-title a {
    color: #3a3a3a;
}
.auth-links p.text-center {
    margin-bottom: 5px;
}
.auth-links a {
    color: #3a3a3a;
    font-size: 14px;
}

.login-wrap {
    padding-top: 19px;
}
form label {
    color: #212020;
    margin-bottom: 0;
}
.modal {
    color: #3a3a3a;
}
.modal header {
    font-size: 28px;
}
.payment-modal input {
    background-color : #d1d1d1; 
}
.action-btn-wrap .blue-btn {
    float: right;
}
.profile-name-wrap {
    color: #3a3a3a;
    padding-bottom: 15px;
    font-size: 18px;
    width: 60%;
    text-align: center;
}
.profile-name-wrap .left {
    width: 40% !important;
    float: left;
}
.profile-name-wrap .right {     
    float: right;
}
.profile-name-wrap a {
    color: #3a3a3a;
}
ul.item-list {
    list-style: none;
    padding-left: 0;
}
.item-list li {
    padding-bottom: 15px;
}
.item-list li a, .item-list li  {
    color: #3a3a3a;
    font-size: 18px;
}
#documentUploadFile input[type=file] {
    display: none; 
}
.payment-plan li a{
    padding-left: 20px;
}
.payment-summary li{
    padding-bottom: 10px;
}

/* Admin pages Styles */

.table-striped-custom tbody tr:nth-of-type(even) {
    background-color: #ecffe4;
}

.table-striped-custom tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table-striped-custom tbody tr:hover {
    background-color: rgba(36, 35, 35, 0.05);
    -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
}

.green-btn{
    background: #6aa509;
    border-radius: 50px;
    color: #ffffff;
}

.green-btn:hover{
    background: #ffffff;
    color: #6aa509;
    border: 1px solid #ecffe4;
}

.custom-table-head{
    background-color: #ecffe4;
}

.search-custom-control{
    border-radius: 50px;
    border: 1px solid #ecffe4;
}

.documents-link{
    font-size: 20px;
    color: #6aa509 !important;
    text-decoration: underline;
    cursor: pointer;
}

.document-content{
    background: #5A5A5A;
    height: 200px;
    width: 50px;
    margin: 0 30px;
}

.details-width{
    width: 50%;
}

.ta-logo{
        height: 100px;
    }
    
    .pt-5-custom {
        padding-top: 3rem!important;
    }


/*  
    responsiveness
*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) { 
    .option-image {
        width: 40%;
        position: absolute;
        top: -48px;
    }

    .details-width{
        width: 100%;
    }

.clickable {
    cursor: pointer;
}    

    .tax-body-wrap{
        padding: 20px;
      }

    .switch-label-top{
        font-size: 12px;
    }

    .survey-body{
        padding: 0 0px;
    }

    .summary-box{
        max-width: initial;
    }
    

    .custom-btn{
        width: 50%;
    }

    .user-btn {
        right: 15px;
    }

    .user-left-btn {
        left: 15px;
    }

    .survey-header > p{
        font-size: 18px;
    }

    .survey-body-content{
        max-width: initial;
    }

    .survey-body-content-clicked{
        max-width: initial;
    }

    .body-wrap {
        padding: 0px 0px;
    }

    .custom-right-btn {
        right: 15px;
    }

    .app-title {
        font-size: 35px;
        letter-spacing: 0px;
        padding-right: 0px;
    }
    .services-wrap {
        text-align: center !important;
    }    
    .services-wrap div img {
        width: 200px !important;
        height: 150px !important;
    }
    .login-wrap .col-10 {
        margin: 0 auto;
    }

    .logo-brand{
        position: absolute;
        left: 30vw;
    }

    .masthead{
        background: url('../images/ta-home-pic.jpg');
        height: 50vh;
        max-height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    .mastheadhome{
        background: url('../images/ta-home-pic.jpg');
        height: 50vh;
        max-height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    .masthead-rev-range{
        background: url('../images/ta-home.jpg');
        height: 50vh;
        max-height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .custom-nav{
        height: 50px;
    }
    
    .ta-logo{
        height: 40px;
    }
    
     .pt-5-custom {
        padding-top: 0rem!important;
    }

    .header-text a{
        color: #B3000C;
        font-size: 10px:
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)  { 
    .services-wrap {
        text-align: center;
    }
    
    .services-wrap div img {
        width: 200px !important;
        height: 150px !important;
    }
    
    .login-wrap .col-10 {
            margin: 0 auto;
    }

    .logo-brand{
        position: absolute;
        left: 15vw;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .app-title {
        background-size: 20% 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .app-title {
        background-size: 16% 100%;
    }
}

.social a {
    margin: 0 3px;
}
.social a > i {
    font-size: larger;
    color: #404040;
}
.social a > i:hover {
    transform: scale(1.2);
    color: #080808;
}
